#qt
*.user
*.Debug
*.Release
Makefile
*.stash

# Prerequisites
*.d


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
debug/moc_mainwindow.cpp
debug/moc_predefs.h

